@charset "utf-8";
#header-main {
	font-family: 'Alex Brush', cursive;
	font-weight: normal;
	font-size: 2em;
	clear: both;
	float: none;
	height: 35px;
	width: 100%;
	color:#6D6D6D;
	margin-top:0.2em;
	margin-left: 0.5em;
	padding: 0em;
}
#header-title {
	font-family: 'Quicksand', sans-serif;
	clear: both;
	float: none;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EDEDED;
	padding-right: 0em;
	padding-bottom: 0.2em;
	padding-left: 1.1em;
}
#panel
{
	width:100%;
	height:auto;
}
#panel-area
{
	width: 50%;
	height:auto;
	clear:none;
	float:left;
}
#panel-fullarea
{
	width: 100%;
	height:auto;
	clear:none;
	float:left;
}
.panel
{
	background-color:#FFFFFF;
	width:96%;
	height:auto;
	float:left;
	clear:none;
	border-width:1px;
	border-style:solid;
	border-color:#F0F0F0;
	margin: 2%;
}
.panelfull
{
	background-color:#FFFFFF;
	width:98%;
	height:auto;
	float:left;
	clear:none;
	border-width:1px;
	border-style:solid;
	border-color:#F0F0F0;
	margin: 1%;
}
.panel-header
{
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
	color: #666;
	background: #F0F0F0;
	width: 98%;
	height: 2em;
	float: left;
	clear: left;
	padding-top: 2%;
	padding-left: 2%;
	border-bottom-width: 1px;
	border-bottom-color: #F0F0F0;
}
.panel-fullheader
{
	font-family: 'Quicksand', sans-serif;
	background:#F0F0F0;
	width:99%;
	height:2em;
	float:left;
	clear:left;
	padding-top:1%;
	padding-left:1%;
	border-bottom-width:1px;
	border-bottom-color:#F0F0F0;
}
.panel-table
{
	width:96%;
	height:auto;
	float:left;
	clear:left;
	margin: 2%;
}
.copyright
{
	font-family: 'Quicksand', sans-serif;
	color:#6A6A6A;
	background-color: #efefef;
	width: 99%;
	height:auto;
	clear:left;
	float:left;
	padding: 0.6%;
}
@media screen and (max-width: 80em) {
#header-main 
	{
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1.5em;
		clear: both;
		float: none;
		height: 20px;
		width: 100%;
		margin-left: 0.5em;
		margin-top:0.5em;
	}
#header-title
	{
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 0px;
		clear: both;
		float: none;
		height: 30px;
		width: 100%;
		padding-top: 1em;
		padding-right: 0em;
		padding-bottom: 0em;
		padding-left: 0.7em;
	}
#panel-area
	{
		width: 100%;
		height:50%;
		clear:none;
		float:left;
	}
.panel
	{
		background-color:#FFFFFF;
		width:94%;
		height:94%;
		float:left;
		clear:none;
		border-width:1px;
		border-style:solid;
		border-color:#F0F0F0;
		margin: 3%;
	}
.panel-header
	{
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		background:#F0F0F0;
		width:96%;
		height:auto;
		float:left;
		clear:both;
		padding:2%;
		border-bottom-width:1px;
		border-bottom-color:#F0F0F0;
	}
	.panel-fullheader
	{
	font-family: 'Quicksand', sans-serif;
	background:#F0F0F0;
	width:98%;
	height:auto;
	float:left;
	clear:left;
	padding:1%;
	border-bottom-width:1px;
	border-bottom-color:#F0F0F0;
	}	
	.copyright
	{
	font-family: 'Quicksand', sans-serif;
	font-size:12px;
	color:#B3B3B3;
	background-color: #efefef;
	width: 99%;
	height:auto;
	clear:left;
	float:left;
	padding: 1.5%;
}
}

