#panel-fullarea
{
	width: 100%;
	height:auto;
	clear:none;
	float:left;
}
.panel
{
	width:96%;
	height:auto;
	float:left;
	clear:none;
	margin: 2%;
}
.panel-header
{
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	width:100%;
	height:auto;
	float:left;
	clear:left;
	padding:1%;
}
.panel-fullheader
{
	font-family: 'Quicksand', sans-serif;
	background:#F0F0F0;
	width:100%;
	height:auto;
	float:left;
	clear:left;
	padding:1%;
	border-bottom-width:1px;
	border-bottom-color:#F0F0F0;
}
.panelfull
{
	background-color:#FFFFFF;
	width:100%;
	height:auto;
	float:left;
	clear:none;
	border-width:1px;
	border-style:solid;
	border-color:#F0F0F0;
}
.panel-main
{
	width:100%;
	float:left;
	clear:left;
	padding: 1%
}
.panel-mainhalfL
{
	width:50%;
	padding: 1%;
	float:left;
}
.panel-mainhalfR
{
	width:50%;
	padding: 1%;
	float:right;
}

.panel-bottom
{
	width:100%;
	height:auto;
	float:left;
	clear:left;
	padding: 1%;
}
.panel-status
{
	font-family: 'Quicksand', sans-serif;
	font-size:1.2em;
	color:#FF0004;
	font-weight:bold;
	width:100%;
	height:auto;
	float:left;
	clear:left;
	padding:1%;
}
.from-1
{
	width:100%;
	height: 30px;
}
.from-2
{
	width:40%;
	height: 30px;
	float:left;
	clear:left;
}
.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 7px;
  font-family:Arial, Helvetica, sans-serif;
  color:#5F5F5F;
  font-size: 1.5em;
  background:#8E8E8E;
  padding: 10px 20px 10px 20px;
  border: solid #e6e6e6 1px;
  text-decoration: none;
}

.btn:hover {
	color:#F1F1F1;
  	background: #383738;
	border: solid #383738 1px;
  	text-decoration: none;
}

@media screen and (max-width:30em) {
.panel-header
{
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	width:100%;
	height:auto;
	float:left;
	clear:left;
	padding:1%;
}
.panel
	{
		width:96%;
		height:96%;
		float:left;
		clear:none;
		margin: 2%;
}
.panel-mainhalfL
{
	width:100%;
	padding: 1%;
	float:left;
	clear:none;
}
.panel-mainhalfR
{
	width:100%;
	padding: 1%;
	float:left;
	clear:none;
}
}
@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
	html, body {
  min-height: 100%;
}
  body {
    -webkit-background-size: 200px 200px;
    -moz-background-size: 200px 200px;
    -o-background-size: 200px 200px;
    background-size: 200px 200px;
  }
}

